@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MacBook Air - 1 */

main {
  position: relative;
  width: 1280px;
  height: 832px;
  background: #ffffff;
}

/* Navbar */
.navbar-cont {
  position: absolute;
  width: 1280px;
  height: 81px;
  left: 0px;
  top: 0px;
  background: #333333;
}

/* Navbar Items */

/* Question Box */

position: absolute;
width: 738px;
height: 491px;
left: 65px;
top: 187px;

background: #eeeeee;

/* Image */

position: absolute;
width: 630px;
height: 356px;
left: 51px;
top: 90px;

background: #d9d9d9;

/* Question text dfksjgkfds lkjbfgkljblglkjbs lkjbg skljblkjlbglkj jkl bkljslkbg kblskjlbgkl kls kgblksb lkjsblk klgb klsjbkls */

position: absolute;
width: 627px;
height: 45px;
left: 54px;
top: 18px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* Answer Box */

position: absolute;
width: 358px;
height: 491px;
left: 862px;
top: 187px;

background: #eeeeee;

/* Submit Box */

position: absolute;
width: 141px;
height: 38px;
left: 108px;
top: 432px;

background: #d9d9d9;

/* Submit */

position: absolute;
width: 67px;
height: 24px;
left: 145px;
top: 439px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* Answer */

position: absolute;
width: 265px;
height: 381px;
left: 47px;
top: 29px;

background: #d9d9d9;

/* Progress Bar */

.prog-bar-cont {
  position: absolute;
  width: 1155px;
  height: 50px;
  left: 65px;
  top: 109px;
  background: #eeeeee;
}

/* Footer */

position: absolute;
width: 1280px;
height: 52px;
left: 0px;
top: 780px;

background: #333333;

/* Footer Text */

position: absolute;
width: 86px;
height: 19px;
left: 77px;
top: 16px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #ffffff;

/* Copyright */

position: absolute;
width: 75px;
height: 19px;
left: 1126px;
top: 16px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #ffffff;

/* Frame 1 */

position: absolute;
width: 581px;
height: 55px;
left: 352px;
top: 701px;

background: #eeeeee;

/* 00:00:00 */

position: absolute;
width: 138px;
height: 39px;
left: 221px;
top: 8px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;

/* Start Timer */

position: absolute;
width: 107px;
height: 24px;
left: 67px;
top: 16px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;

/* Reset Timer */

position: absolute;
width: 114px;
height: 24px;
left: 418px;
top: 16px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;
